body {
  background-color: #007cb9;
}

#page-footer {
  background-color: #e4f1fe;
  padding-top: 20px;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

#creator-name-link {
  text-decoration: none;
  color: #272343;
}
